<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/signup-success_styles.css">
    </head>

    <body>
        <div class="container">
            <h1>Signup Successful</h1>
            <p>Signup Successful. You can now Log in<br>
            </p><a
                href="../login/login.php"
                class="login-link">log in</a>
        </div>
    </body>

</html>