<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="main">
            <nav>
                <div class="div-links"></div>
                <ul>
                    <li><a href="Invalid">Explore Page</a></li>
                    <li><a href="Invalid">Shopping</a></li>
                    <li><a href="Invalid">Local Delivery</a></li>
                    <li><a href="Invalid">Account</a></li>
                    <div class="header">
                        <p>ShopFlair</p>
                    </div>
                </ul>
            </nav>
        </div>

    </body>
</html>